<div class="col-md-12">
  <hr/>
  <div class="h3">
    {{titulo}}
      </div>
<hr/>
    <div *ngIf="!identity || identity == null"class="h5">
      Inicia sesión para accerder a más opciones...
    </div>
    <div *ngIf="identity && identity != null" class="h4">
    <strong> Bienvenido! </strong>  {{identity.name}} {{identity.surname}}
    </div>
    <div class="h4">
<a [routerLink]="['/user-edit']"> Edita tu perfil</a>
    </div>
          <div class="h3">
       <a [routerLink]="['/create-video']"> Carga un nuevo video</a>
  </div>
       <hr/>


</div>
