<div class="col-md-12">
  <hr>
<h1>{{titulo}}</h1>
<hr>

<div class="alert alert-success" *ngIf="status == 'success'">
    ANDES, Has registrado correctamente!
    <a [routerLink]="['/login']">Accede - click aquí</a>
</div>

<div class="alert alert-danger" *ngIf="status == 'error'">
  ANDES, No has podido registrarte, intentalo de nuevo!
</div>

<form   #registerForm="ngForm"  (ngSubmit)="onSubmit()" class="col-md-4">
<p>
  <label>Nombre: </label>
  <input type="text" #name="ngForm" class="form-control" ngControl="name" [(ngModel)]="user.name" required/>
  <span *ngIf="!name.valid && name.touched">ANDES, el nombre debe ser olbigatorio</span>
</p>
<p>
  <label>Apellidos: </label>
  <input type="text" #surname="ngForm" class="form-control" ngControl="surname" [(ngModel)]="user.surname" required/>
  <span *ngIf="!surname.valid && surname.touched">ANDES, el Apellido debe ser olbigatorio</span>
</p>
<p>
  <label>Email: </label>
  <input type="email" #email="ngForm" class="form-control" ngControl="email" [(ngModel)]="user.email" required/>
  <span *ngIf="!email.valid && email.touched">ANDES, el Email debe ser olbigatorio</span>
</p>
<p>
  <label>Password: </label>
  <input type="password" #password="ngForm" class="form-control" ngControl="password" [(ngModel)]="user.password" required/>
  <span *ngIf="!password.valid && password.touched">ANDES, el password debe ser olbigatorio</span>
</p>
<p>
  <input type="submit" value="Registrar" class="btn btn-success">
</p>

</form>

</div>
