<div class="col-md-12">
  <hr>
<h1>{{titulo}}</h1>
<hr>

<div class="alert alert-success" *ngIf="status == 'success'">
  Excelente <strong> {{user.name}}! </strong>.   Has Actualizado tus datos!!!
</div>

<div class="alert alert-danger" *ngIf="status == 'error'">
 <strong> {{user.name}}! </strong>. No hemos podido actualizar tus datos, intentalo más adelante
</div>

<form   #updateUserForm="ngForm"  (ngSubmit)="onSubmit()" class="col-md-4">
<p>
  <label>Nombre: </label>
  <input type="text" #name="ngForm" class="form-control" ngControl="name" [(ngModel)]="user.name" required/>
  <span *ngIf="!name.valid && name.touched"> <strong> {{user.name}}! </strong>, el nombre debe ser olbigatorio</span>
</p>
<p>
  <label>Apellidos: </label>
  <input type="text" #surname="ngForm" class="form-control" ngControl="surname" [(ngModel)]="user.surname" required/>
  <span *ngIf="!surname.valid && surname.touched"> <strong> {{user.name}}! </strong>, el Apellido debe ser olbigatorio</span>
</p>
<p>
  <label>Email: </label>
  <input type="email" #email="ngForm" class="form-control" ngControl="email" [(ngModel)]="user.email" required/>
  <span *ngIf="!email.valid && email.touched"> <strong> {{user.name}}! </strong>, el Email debe ser olbigatorio</span>
</p>
<p>
  <label>Password: </label>
  <input type="password" #password="ngForm" class="form-control" ngControl="password" [(ngModel)]="user.password" required/>
  <span *ngIf="!password.valid && password.touched"> <strong> {{user.name}}! </strong>., el password debe ser olbigatorio</span>
</p>


<p>
  <input type="submit" value="{{titulo}}" class="btn btn-success">
</p>

</form>

</div>
